@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFD;
    font-family: Roboto;
    overflow-x: hidden;
}

.Head {
    width: 100%;
    height: 50px;
    background-color: #E7ECFF;
    z-index: 50;
    position: fixed;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.HeadContent {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.HeadContent Nav {
    width: 50%;
}

.HeadContent Nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.HeadContent Nav ul li {
    margin-right: 25px;
}

.HeadContent Nav a:hover {
    font-weight: bold;
}

.checkbtn {
    font-size: 30px;
    color: #37447E;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    display: none;
}

#check {
    display: none;
}

.HeadContent a {
    text-align: center;
    text-decoration: none;
    color: #505F98;
}

@media (max-width: 773px) {
    label.Logo {
        font-size: 16px;
        padding-right: 120px;
        transition: 500ms ease;
    }

    nav ul li a {
        font-size: 30px;
        font-weight: 300;
    }

    .checkbtn {
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #091133;
        top: 50px;
        left: -100%;
        text-align: center;
        z-index: 10;
        transition: all .5s;
        overflow: hidden;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    nav ul li {
        margin-top: 30px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .HeadContent a {
        color: #fff;
    }
}

@media (max-width: 520px) {
    label.Logo {
        padding-right: 40px;
    }

    nav ul li a {
        font-size: 25px;
    }
}

.HeadContent h2,
.HeadContent .Logo {
    color: #37447E;
    font-size: 26px;
    font-family: Roboto;
    font-weight: bolder;
}

.Landing {
    display: flex;
    justify-content: flex-start;
}

.Button {
    width: 42%;
    display: flex;
    justify-content: flex-end;
}

.Button button {
    text-align: center;
    background-color: #111B47;
    color: white;
    padding: 7px 50px;
}

.Button a {
    text-decoration: none;
    color: white;
}

button:hover {
    box-shadow: 2px 2px 0px 0px black;
}

/* Home Page */
.Sec1 {
    height: 1070px;
    width: 100%;
    display: flex;
    align-items: center;
}

.BackgroungImg1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Sec1Div {
    position: absolute;
    padding-left: 200px;
    padding-top: 200px;
    height: 100%;
}

.Sec1Div .Title h1 {
    font-size: 50px;
    margin-bottom: 10px;
    width: 100%;
    color: #091133;
    font-family: Roboto;
    letter-spacing: 1px;
    line-height: 66px;
}

.Sec1Div .Description h3 {
    width: 40%;
    color: #505F98;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    font-weight: normal;
}

.Buttons {
    margin-top: 20px;
}

.Buttons #B1 {
    padding: 10px 40px;
    background: #091133;
    font-weight: bold;
}

.Buttons #B1 a {
    color: white;
}

.Buttons #B2 {
    padding: 10px 40px;
    margin-left: 10px;
    background: none;
    border: 2px solid #091133;
    font-weight: bold;
}

.Buttons #B2 a {
    color: #091133;
}

.Buttons a {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .Sec1 {
        height: 700px;
    }

    .Sec1 .BackgroungImg1 {
        opacity: 0.5;
    }

    .Sec1Div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        margin: auto;
    }
    
    .Sec1Div .Title h1 {
        font-size: 50px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        line-height: 45px;
    }

    .Sec1Div .Description {
        display: flex;
        justify-content: center;
    }
    
    .Sec1Div .Description h3 {
        width: 70%;
        text-align: center;
        font-size: 22px;
        color: #091133;
        margin-top: 15px;
    }

    .Sec1 .Buttons button{
        height: 50px;
        width: 200px;
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    .Sec1 {
        height: 500px;
    }
    
    .Sec1Div .Title h1 {
        font-size: 30px;
        line-height: 25px;
    }
    
    .Sec1Div .Description h3 {
        width: 95%;
        font-size: 18px;
        margin-top: 10px;
    }

    .Sec1 .Buttons button{
        height: 40px;
        width: 170px;
        font-size: 10px;
    }
}

.Sec2 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.Sec2Div {
    display: flex;
    align-items: center;
    width: 100%;
}

.Content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 0px 0px 200px;
    z-index: 5;
}

.BackgroundImg2 {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.Content .Title h1 {
    color: #091133;
    font-size: 36px;
    font-family: Roboto;
    margin-bottom: 10px;
}

.Content .Description h3 {
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    color: #6F7CB2;
    width: 60%;
    font-weight: normal;
}

.att {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.att1 {
    width: 30%;
}


.att2 {
    width: 30%;
    margin-left: 20px;
}

.att h2 {
    color: #091133;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Roboto;
}

.att h4 {
    color: #5D6970;
    font-size: 12px;
    font-family: Roboto;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .Sec2 {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Sec2Div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .Content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    
    .BackgroundImg2 {
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: center;
        width: 100%;
        opacity: 0.5;
    }
    
    .Content .Title h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .Content .Description {
        display: flex;
        justify-content: center;
    }
    
    .Content .Description h3 {
        font-size: 20px;
        line-height: 26px;
        font-family: Roboto;
        color: #091133;
        width: 70%;
        font-weight: normal;
    }
    
    .att {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .att h2 {
        color: #000;
    }
    
    .att h4 {
        color: #000;
        font-weight: 500;
    }
}

@media (max-width: 520px) {
    .Sec2 {
        height: 450px;
    }

    .Sec2 .BackgroundImg2 img {
        width: 100%;
    }
    
    .Content .Title h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .Content .Description h3 {
        font-size: 15px;
        line-height: 23px;
        width: 90%;
        font-weight: normal;
    }
}

.Sec4And5 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sec4And5 .BackgroundImg3And4 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sec4And5 .Content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.Sec4And5 .Content .Button {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

@media (max-width: 1024px) {
    
    .Sec4And5 .Content .Button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}

@media (max-width: 1000px) {
    .Sec4And5 {
        height: 350px;
    }
    
    .Sec4And5 .BackgroundImg3And4 {
        width: 100%;
        position: absolute;
        opacity: 0.5;
    }

    .Sec4And5 .BackgroundImg3And4 img {
        width: 40%;
    }
    
    .Sec4And5 .Content {
        width: 80%;
        align-items: center;
    }

    .Sec4And5 .Content .Description h3 {
        width: 100%;
        font-size: 15px;
        color: #091133;
    }

    .Sec4And5 .Content .Title h1 {
        font-size: 30px;
    }
    
    .Sec4And5 .Content .Button {
        justify-content: center;
    }
}

.Sec6 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackgroungImg5 {
    height: 100%;
    width: 100%;
}

.BackgroungImg5 img {
    width: 100%;
}

.Sec6 .Content {
    width: 100%;
    position: absolute;
    padding: 0;
}

.Sec6 .Content .Title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Sec6 .Content .Description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Sec6 .Content .Description h3 {
    width: 40%;
}

.Sec6 .Content .Price {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Sec6 .Content .Price h1 {
    width: 100%;
    text-align: center;
    color: #222F65;
    font-size: 50px;
    font-family: Roboto;
}

.Sec6 .Content .Price h2 {
    width: 100%;
    text-align: center;
    color: #37447E;
    font-size: 16px;
    font-family: Roboto;
}

.Sec6 .Content .Button {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

.Sec6 .Content .Button h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #5D6970;
    font-size: 14px;
    font-family: Roboto;
}

@media (max-width: 1024px) {
    .Sec6 {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Sec6 .Content .Description h3 {
        width: 80%;
        font-size: 14px;
    }
    
    .Sec6 .Content .Price {
        margin-top: 5px;
    }
    
    .Sec6 .Content .Button {
        margin-top: 20px;
    }

    .Sec6 .Content .Title h1{
        font-size: 30px;
    }
    
    .Sec6 .Content .Price h1 {
        font-size: 40px;
    }
    
    .Sec6 .Content .Price h2 {
        font-size: 18px;
    }
    
    .Sec6 .Content .Button h3 {
        margin-bottom: 8px;
    }
}

@media (max-width: 520px) {
    .Sec6 {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Sec6 .Content .Description h3 {
        width: 80%;
        font-size: 8px;
        line-height: 20px;
    }
    
    .Sec6 .Content .Price {
        margin-top: 5px;
    }
    
    .Sec6 .Content .Button {
        margin-top: 10px;
    }

    .Sec6 .Content .Title h1{
        font-size: 15px;
    }
    
    .Sec6 .Content .Price h1 {
        font-size: 15px;
    }
    
    .Sec6 .Content .Price h2 {
        font-size: 6px;
    }
    
    .Sec6 .Content .Button h3 {
        margin-bottom: 4px;
        font-size: 9px;
    }

    .Sec6 .Content .Button button {
        padding: 5px 30px;
        font-size: 9px;
    }
}

/* footer */
.Footer {
    width: 100%;
    height: 200px;
    background-color: #E7ECFF;
    display: flex;
    justify-content: center;
    box-shadow: 0px -2px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.FooterContent {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Top {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #CDD1D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Top h3 {
    color: #939EA4;
    font-size: 14px;
    font-weight: 400;
}

.Top h2 {
    color: #37447E;
    font-size: 26px;
}

.Top button {
    text-align: center;
    background-color: #111B47;
    color: white;
    padding: 7px 50px;
}

.Top a {
    text-decoration: none;
    color: white;
}

.Bottom {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.QuickAccess {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.QuickAccess a,
.QuickAccess h4 {
    text-decoration: none;
    color: #929ECC;
    font-size: 14px;
    font-weight: 200;
}

.QuickAccess h4:hover {
    font-weight: bold;
}

.SocialMedia {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.SocialMedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.SocialMedia a svg {
    height: 20px;
    fill: black;
}

.SocialMedia a::before {
    content: attr(Data-Social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    transform: rotate(25deg);
    opacity: 0;
    transition: 300ms cubic-bezier(.42, 0, .44, 1.68);
}

.SocialMedia a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.SocialMedia a:hover svg {
    fill: white;
}

.SocialMedia a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid var(--accent-color);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(25deg);
    opacity: 0;
    transition: 300ms cubic-bezier(.42, 0, .44, 1.68);
}

.SocialMedia a:hover::before {
    transform: translateY(-40px) rotate(0);
    opacity: 1;
}

.SocialMedia a:hover::after {
    transform: translateY(-22px) rotate(0);
    opacity: 1;
}

.NightMode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DarkModeToggleLabel {
    width: 100px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 100px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.DarkModeToggleLabel::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#DarkModeToggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#DarkModeToggle:checked+label:after {
    left: 95px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.DarkModeToggleLabel:active:after {
    width: 50px;
}

.DarkModeToggleLabel svg {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.DarkModeToggleLabel svg.Sun {
    fill: #fff;
    left: 5px;
    transition: 0.3s;
}

.DarkModeToggleLabel svg.Moon {
    fill: #7e7e7e;
    left: 95px;
    transform: translateX(-100%);
    transition: 0.3s;
}

#DarkModeToggle:checked+label svg.Moon {
    fill: #fff;
}

#DarkModeToggle:checked+label svg.Sun {
    fill: #7e7e7e;
}

body.DarkModeFun {
    background-color: #333 !important;
    color: #fff !important;
}

body.DarkModeFun h1,
body.DarkModeFun h2,
body.DarkModeFun label,
body.DarkModeFun a {
    color: #fff !important;
}

body.DarkModeFun h3,
body.DarkModeFun h5,
body.DarkModeFun h4 {
    color: #CDD1D4 !important;
}

body.DarkModeFun .Head,
body.DarkModeFun .Footer {
    background-color: black !important;
}

body.DarkModeFun .Head button:hover,
body.DarkModeFun .Footer button:hover {
    box-shadow: 2px 2px 0px 0px white !important;
}

body.DarkModeFun svg path:not(footer svg path) {
    fill: white !important;
}

@media (max-width: 710px) {
    .Footer {
        height: 300px;
    }

    .Top {
        flex-direction: column;
        justify-content: space-around;
    }

    .Bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }

    .QuickAccess {
        width: 80%;
        justify-content: space-around;
    }

    .SocialMedia {
        width: 80%;
    }
}