@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBFBFD;
    font-family: Roboto;
    box-sizing: border-box;
}

.Head {
    width: 100%;
    height: 50px;
    background-color: #E7ECFF;
    z-index: 2;
    position: absolute;
}

.HeadContent {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.HeadContent Nav {
    width: fit-content;
    width: 50%;
}

.HeadContent Nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.HeadContent Nav ul li {
    margin-right: 25px;
}

.HeadContent Nav a:hover {
    font-weight: bold;
}

.HeadContent a {
    text-align: center;
    text-decoration: none;
    color: #505F98;
}

.HeadContent h2 {
    color: #37447E;
    font-size: 26px;
    font-family: Roboto;
}

.Landing {
    display: flex;
    justify-content: flex-start;
}

.Button {
    width: 42%;
    display: flex;
    justify-content: flex-end;
}

.Button button {
    text-align: center;
    background-color: #111B47;
    color: white;
    padding: 7px 50px;
}

.Button a {
    text-decoration: none;
    color: white;
}

button:hover {
    box-shadow: 2px 2px black;
}

/* Our products page */

.Container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slider-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 48rem;
    position: relative;
    margin: 0 auto;
}

.Slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.Slider::-webkit-scrollbar {
    display: none;
  }

.Slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.SliderNav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.SliderNav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.SliderNav a:hover {
    opacity: 1;
}

.Products {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.CardContainer {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card {
    width: 250px;
    height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Img {
    width: 100%;
    height: 60%;
}

.Info {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.Info h1 {
    color: #37447E;
}

.Img img {
    width: 100%;
    overflow-y: hidden;
}

.Buttons {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.Buttons button {
    background: #111B47;
    height: 30px ;
    width :160px;
}

.Buttons a {
    text-decoration: none;
    color: #fff;
}
/* footer */
.Footer {
    width: 100%;
    height: 200px;
    background-color: #E7ECFF;
    display: flex;
    justify-content: center;
}

.FooterContent {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Top {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #CDD1D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Top h3 {
    color: #939EA4;
    font-size: 14px;
    font-weight: 400;
}

.Top h2 {
    color: #37447E;
    font-size: 26px;
}

.Top button {
    text-align: center;
    background-color: #111B47;
    color: white;
    padding: 7px 50px;
}

.Top a {
    text-decoration: none;
    color: white;
}

.Bottom {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.QuickAccess {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.QuickAccess a,
.QuickAccess h4 {
    text-decoration: none;
    color: #929ECC;
    font-size: 14px;
    font-weight: 200;
}

.QuickAccess h4:hover {
    font-weight: bold;
}

.SocialMedia {
    display: flex;
    justify-content: space-between;
    width: 20%;
}